<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>frame.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>com.servlets.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/BookInfo/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.servlets.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.servlets.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlets.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.servlets.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PageQueryServlet</servlet-name>
    <servlet-class>com.servlets.PageQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryServlet</servlet-name>
    <url-pattern>/PageQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UpdateNumServlet</servlet-name>
    <servlet-class>com.servlets.UpdateNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNumServlet</servlet-name>
    <url-pattern>/UpdateNumServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterLogin</filter-name>
    <filter-class>com.filters.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterLogin</filter-name>
    <url-pattern>/BookInfo/CheckLogin</url-pattern>
  </filter-mapping>
</web-app>